.kingContainer {
  position: absolute;
  bottom: 0; /* 画面下部に配置 */
  left: 50%; /* 画面の中央に配置 */
  transform: translateX(-50%); /* 中央に合わせる */
  width: 100%;
  height: 50px;
  overflow: visible;
  background-image: url("/public/yusya.png"); /* publicフォルダ内の画像を指定 */
  background-size: 200%; /* サイズを2倍に変更 */
  background-repeat: no-repeat; /* 画像が繰り返されないように */
  background-position: center; /* 画像を中央に配置 */
  background-attachment: fixed; /* 背景のスクロールを防ぐ */
  z-index: 30;
}

.kingContainer img {
  object-fit: contain; /* アスペクト比を保ちながら画像を縮小 */
  position: absolute;
  bottom: 0; /* bodyの終了直前に配置 */
  left: 50%; /* 画面の中央に配置 */
  transform: translateX(-50%); /* 画像の中央を画面中央に合わせる */
  width: auto; /* 自動で幅を調整 */
  height: 50px; /* 高さは50pxに設定 */
  overflow: visible;
}

.king {
  position: absolute;
  top: 0;
  left: 100%; /* 初期位置を画面外右側 */
  height: 50px;
  animation: walk-left 15s linear infinite; /* アニメーションを15秒でゆっくり歩かせる */
}
